/*reglas 
selectores
declaraciones
propiedades
valores*/

/*header {
	background: pink;
	color: red
}*/

/*selector de etiquetas header - section - article -nav */
/*selector descendente */
/*body - header - div - ol - li - a */

/*selector de clase. */

/* .link */

/* selector de id */
/* #portafolio */




/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* backgriund gris = #1b2127 */
/* Celeste= #026fff */


body{
	font-family:"source sans pro", sans-serif;
	margin: 0px;
}


h1,
h2,
h3,
h4,
h5,
h6{
	 font-family: 'Fjalla one', sans-serif;
	 font-weight: normal;
	 /*font-style: italic;*/
}

h1{
	font-size: 40px;
	line-height: 1.5em ;
	letter-spacing: -.2px;
	color: white;
	margin: 0;
	/*margin: 100px 150px 70px 30px;*/
		/*text-transform: uppercase;*/
	/*text-decoration: dashed ;*/
}
h1 strong{
	color: #026fff;
}
h2{
	color: #026fff;
	text-transform: uppercase;
	font-family: "source sans pro";
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}


.hero{
	height: 300px;
	/*background-image: url("../images/logo.jpeg");*/
	background-color: #1b2127;
	/*background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position-x: right;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.hero-image{


}


.portfolio {
	background: #fafafa;
	padding: 20px;
	/*background: red;*/

}

.project {
	
	/*border-top: 10px solid red ;
	border-right: 10px solid green ;
	border-left: 10px solid  orange;
	border-bottom: 10px solid  pink;*/
	/*color: blue;*/
	/*border-top-color: red;
	border-top-width: 15px;
	border-top-style: solid;*/
	border: 1px solid gray;
	border-radius: 10px;
	/*margin: 10px;*/
	margin-bottom: 15px;
	/*border-top-left-radius: 50px;
	border-top-right-radius: 10px;
	border-bottom-left-radius:10px ;
	border-bottom-right-radius:10px ;*/
	padding: 20px;
	background: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.project-course{
		/* font-size: 25px; */
}

.project-url{
	  margin: 10px 0;
}
	
.project-description{
	  font-size: 20px;
}

.project strong{
		font-family: "Fjalla one";
		letter-spacing: 0.8px;
}

	/*.project-date{
		margin: 10px 0;
	}

	.project-url{
		margin: 10px 0;*/
}

.project-title{
		font-size: 30px;
		margin: 10PX 0;
		margin-bottom: 10px;
		margin-bottom: 10px;
}

.project-details{
	/* width: 500px; */
	width: 50%;
}
.project-imageContainer{
	/* width: 500px; */
	/* margin-left: 80px; */
	width: 50%;	
}
.project-imageContainer img{
max-width: 100%;
}

.header{
	background-color: #1b2127 ;
	color: white;
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure {
	margin: 0;
}

.menu {
	height: inherit;
}

.header ol {
	display: flex;
	height: inherit;
}
.header ol li {
	height: inherit;
}
.header a {
	display: flex;
	align-items: center;
	height: inherit;
	padding: 0 10px;
	color: white;
	text-decoration: none;
}


.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.box {
	width: 50px;
	height: 50px;
	margin: 20px;
	border: 1px solid red;

	flex-shrink: 0;
}
.footer{
	color: white;
	background-color: #1b2127;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;	
	padding: 0px;
}

.footer img{
	vertical-align: middle;
}
.footer a{
	color:white;
}

.event-list{
	display: flex;
	
}
.event{
/*	border: 1px solid red;*/
	margin: 1%;
	width: 48%;
border-radius: 10px;
overflow: hidden;
flex-shrink: initial;
background-color:#F4FBFF;
}
.event img{
	width: 100%;
	height: 300%;
	/*object-fit: cover;*/
}
.event-detail{
	margin: 20PX 40px;
	background: white;
	margin-top: -40PX;
	position: relative;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	
	
}
.event-description{
text-align: center;
}
.event-url{
border: 1px solid;
padding: 5px 10px;
border-radius: 5px;
text-decoration: none;
color: #056fff;
}
.event-out-title{
	margin-left: 30PX;
}
.creamos{
	background-color:#056FFF ;
	color: white;
	height: 120px;
	align-items: center;
	display: flex;
	padding: 8px 20px 20px 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social a{
	border-radius: 8px;
}
.social-link{
	width: 50px;
	height: 50px;
	margin: 0 5px;
	display:inline-block ;
	background-size: 50px 50px;
}
.social-link.twitter {
	background-image: url("https://store-images.s-microsoft.com/image/apps.50484.9007199266244427.4d45042b-d7a5-4a83-be66-97779553b24d.2c71c1ea-c28f-4dd1-b72d-c43cdd3476f4");
}

.social-link.facebook {
	background-image: url("https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_960_720.png");
}

.social-link.instagram {
	background-image: url("https://png.pngtree.com/png-clipart/20190516/original/pngtree-instagram-social-media-icon-design-template-vector-png-image_3654775.jpg");
}

.social-link.github{
	background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
}

.form-email input {
	border-color: gray;
	border-radius: 7px;
	border-style: solid;
	padding: 10px 20px 10px 50px ;
	background-image: url("https://cdn5.dibujos.net/dibujos/pintar/sobre.gif");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position-y: center;
}
.form-email button{
	display: block;
	margin-top: 10px;
	background: transparent;
	color: white;
	padding: 5px 0;
	border-radius: 7px;
	width: 100px;
	margin: 10px;
}
.container{
	/*border: 1px solid red;*/
	max-width: 1000px;
	margin: 0 auto;
	justify-content: inherit;
	display: inherit;
	align-items: inherit;
	flex-wrap: wrap;
	height: inherit;
	flex: auto;
	padding: 0 5px;
	
}
 /* si vamos hacer Desktop first, comenzar primero por el MQ mas grande  */

 @media screen and (max-width: 1024px){

 }
 @media screen and (max-width: 767px){
.header{
	display: block;
	height: auto;
}
.header ol{
	display: block;
}
.header ol li{
	height: 50px;
}
.header a{
	justify-content: center;
}
.header .logo{
	text-align: center;
}
.project{
	display: block;
}
.project-imageContainer{
	width: auto;
	text-align: center;
}
.project-details{
	width: auto;
	font-size: 16px;
}
.project-title{
	font-size: 1.1em;
	margin-bottom: auto;
}

.project-date{
	font-size: 1em;
	margin: .4em 0;
	
}
.project-course{
	font-size: .8em;
	margin: .4em 0;
	
}
.project-url{
	font-size: 1em;
	margin: .4em 0;

}
.project-description{
	font-size: 1em;

}
.event{
	display: block;
	width: auto;
}
.event-detail{
margin: -40px 15px 15px 15px;

}
.event img{
	width: 100%;
}
.creamos{
	height: auto;
	text-align: center;
	display: block;	
}
.footer{
		padding: 0 18px;
		text-align: center;
}
.form-email button{
		margin: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: .7em;
}
.footer{
	display: block;
}
.hero{
	height: auto;
}
}

@media screen and (max-width: 480px){
.project-details{
	width: auto;
	font-size: 12px;
}
}

@media screen and (max-width: 320px){
.project-details{
	width: auto;
	font-size: 10px;
}
}